#tittle {
	display: block;
	width: 100%;
	height: 50px;
	background-color: #F0520D;
}
#tittle h1{
	text-align: center;
}

#container {
	width: 100%;
	height: 500px;
	background-color: gray;
}
#play, #score {
	display: inline-block;
	width: 50%;
	height: 100%;
	text-align: center;
	padding-top: 10px;
}
#play {
	float: left;
	background-color: #EAC38A;
}
#play p {
	margin: 15px 0px;
	padding: 0;
}
#choose {
	display: flex;
}
#choose img {
	background-color: white;
	height: 94px;
	width: 93px;
	border: 1px black solid;
}
#score {
	float: right;
	background-color: #9ABAE3;
}
table {
	margin: 10px auto;
	background-color: #ADC5E4;
}
table, td, th{
	border: 1px solid black;
}
.jugar {
	background-color: transparent;
	height: 94px;
	width: 93px;
	border: none;
	text-decoration: none;
}
#userChoose, #computerChoose {
	flex: 50%;
	text-align: center;
}
#btnRock {
	background-image: url("imgs/rock.png");
}
#btnPaper {
	background-image: url("imgs/paper.png");
}
#btnScissors {
	background-image: url("imgs/scissors.png");
}
#result {
	display: block;
	width: 100%;
	font-size: 1.5em;
}